* {
    /*border: 2px solid red;*/
}

.jumboHeaderImg {
    background-image: url("../img/pizza.png");
    width: 100%;
    height: auto;
}

div.jumbotron h1 {
    background-color: rgba(251, 251, 251, .8);
}


