* {
box-sizing: border-box;
}

html, body {
    width: 95%;
    height: auto;
    font-family: 'Lato', sans-serif;
}

h1 {
    text-align: center;
}

footer {
    padding-top: 20px;
}

div.header-img img{
    width: 100%;
}

.alert-info a {
    background-color: #ceffff;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 15px;
    border: 2px solid rgb(193 193 193);
    /*content: url("#main");*/
}

.main {
    padding: 10px 0;
}

footer p {
    float: left;
}

#social-media-links ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
}

#social-media-links li {
    list-style-type: none;
    padding: 5px;
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.sub-section {
    font-style: italic;
}

/* mobile view */
@media only screen and (max-width: 350px) {

    h1 {
        text-align: center;
    }
    nav > ul {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .nav-links a {
        display: block;
        text-align: center;
        list-style-type: none;
        margin-bottom: 10px;
        padding: 15px 0;
        background-color: lightgrey;
        text-decoration: none;
    }
}

/* desktop view*/
@media only screen and (min-width: 350px) {
    div.hidden-on-desktop { /* If the screen size is 350px wide or more, hide the element */
        display: none;
    }

    .header-img {
        content: url("http://via.placeholder.com/890x385");
        width: 100%;
    }

    .main { /* creating two columns when screen size is 350px of more */
        float: left;
        box-sizing: border-box;
        width: 66%;
        padding-right: 50px;
    }

    .sub-section {
        float: left;
        box-sizing: border-box;
        width: 33%;
        padding: inherit;
    }


    #main:after { /* Clear floats after the columns */
        content: "";
        display: table;
        clear: both;
    }

    nav > ul { /* mving the nav bar when the screen size is >350px */
        width: 100%;
        text-align: right;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }

    .nav-links > li {
        display: inline-block;
        margin: 10px;
    }
}

