* {
box-sizing: border-box;
    /*border: 1px solid red;*/

}

/* Style the body */
html, body {
    width: 100%;
    height: 100%;
    margin: 5px;
    padding: 0 10px;
    font-family: Arial;
}

img {
    width: 100%;
}

h1 {
    text-align: center;
}

.alert-info {
    text-align: center;
    width: 100%;
    /*margin: auto;*/
    padding: 15px;
    border: 1px solid lightgrey;
    background-color: #ceffff;
}

.alert-info > a {
    text-decoration: none;
    color: #333333;
}

nav > ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav-links > li {
    text-align: center;
    list-style-type: none;
    margin: 10px 0;
    padding: 15px 0;
    background-color: lightgrey;
}

/* If the screen size is 350px wide or more, hide the element */
@media only screen and (min-width: 350px) {
    div.hidden-on-desktop {
        display: none;
    }
}
