body, html {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    padding: 0 auto;
    margin: 0 auto;
    font-family: Arial, Ubuntu, sans-serif;
}

:root {
    --info-bg-color: #cedffe;
    --info-text-color: #383391;
    --success-bg-color: #d0f2db;
    --success-text-color: #166b37;
    --warning-bg-color: #fcfacb;
    --warning-text-color: #928029;
    --error-bg-color: #f9d3d7;
    --error-text-color: #89273e;
}

#container {
    width: 100%;
    height: auto;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

span {
    padding-left: 10px;
}

.message-info {
    background-color: var(--info-bg-color);
    color: var(--info-text-color);
}

.message-success {
    background-color: var(--success-bg-color);
    color: var(--success-text-color);
}

.message-warning {
    background-color: var(--warning-bg-color);
    color: var(--warning-text-color);
}

.message-error {
    background-color: var(--error-bg-color);
    color: var(--error-text-color);
}